* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F0ecda;
  font-family: 'Spartan', serif;
}

@media only screen and (max-width: 600px) {
  .udv-pro .produkter {
    display: flex;
    justify-content: center;
    font-family: palatino linotype;
    font-size: 2em;
  }

  .udv-produkter, .oli-mal, .ak-mal {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: palatino linotype;
  }

  .photo img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  .border {
    width: 90%;
    height: 2px;
    background: #333;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    cursor: default;
    opacity: 70%;
  }

  h3 {
    text-align: center;
    font-size: 1.4em
  }

  p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 0, 9em;
    font-family: open sans;
  }
}

@media only screen and (min-width: 601px) {
  .sec1, .produkter{
    display: flex;
    justify-content: center;
    font-family: palatino linotype;
    font-size: 2.5em;
  }

  .sec1, .udv-produkter {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-family: palatino linotype;
  }

  .sec1, .photo img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  .sec1 .border {
    width: 90%;
    height: 2px;
    background: #333;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    cursor: default;
    opacity: 70%;
  }

  h3 {
    text-align: center;
    font-size: 1.2em;
    font-family: palatino linotype;
  }

  p {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 1.2em;
    font-family: open sans;
  }
}
