* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.headerp {
  background-image: url(img/bluesplatter1.png);
  background-size:cover;
  background-position: auto;
  background-repeat: no-repeat;
}

body {
  background-color: #F0ecda;
  font-family: 'open sans';


}

main {
  background-image: url(img/psplat.svg);
  background-repeat: repeat-y;
  background-size: contain;

}

.border_main {
  width: 90%;
  height: 2px;
  background: #333;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  cursor: default;
  opacity: 70%;
}

@media only screen and (max-width: 600px) {
  #section1 .produkter h1 {
    display: flex;
    justify-content: center;
    font-family: 'palatino linotype';
    font-size: 2em;
  }

  #section 1 .udv-produkter {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'palatino linotype';
  }

  #section1 .photo img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  #section1 h3 {
    text-align: center;
    font-size: 1.4em
  }

  #section1 p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 1em;
    font-family: open sans;
  }

  #section1 .border_small{
    width: 20%;
    height: 2px;
    background: #333;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    cursor: default;
    opacity: 70%;
  }

  #section2 .oli-mal {
    display: flex;
    justify-content: center;
    font-family: palatino linotype;
    font-size: 2em;
  }

  #section2 .photo img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  #section2 h3 {
    text-align: center;
    font-size: 1.4em
  }

  #section2 p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: open sans;
  }

  #section3 .ak-mal {
    display: flex;
    justify-content: center;
    font-family: 'palatino linotype';
    font-size: 2em;
  }

  #section3 .photo img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  #section3 h3 {
    text-align: center;
    font-size: 1.4em
  }

  #section3 p {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: 'open sans';
  }


#section3 .border_small{
  width: 20%;
  height: 2px;
  background: #333;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  cursor: default;
  opacity: 70%;
}

.scrollbtn {
  display: block;
  background-color: #3eac6a;
  border-radius: 10px;
  cursor: pointer;
  color: #333333;
  font-family: 'open sans';
  font-size: 0.9em;
  padding: 1em 0em;
  box-shadow: none;
  margin-top: 2em;
  width: 25%;
  text-align: center;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
}

.scrollbtn:hover {
  background-color: #f0ecda;
  border: 1px solid;
  border-color: #3eac6a;
}

#peekaboo{
    position:fixed;
    bottom: 300px;
    right:-352px;
    background: #F0ecda;
    padding:25px;
    width:200px;
    height:200px;
    font-size:0.9em;
border: solid #333;
    opacity: 90%;
}
#peekaboo p {
  text-align: center;
  font-family:'open sans';
}
}

@media only screen and (min-width: 601px) {
  main {
    background-image: url(img/psplat.svg);
    background-repeat: repeat-y;
    background-size:cover;

  }
  #section1 .produkter {
    display: flex;
    justify-content: center;
    font-family: 'palatino linotype';
    font-size: 2.5em;
  }

  #section 1 .udv-produkter {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-family: 'palatino linotype';
  }

  #section1 .photo img {
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  #section1 h3 {
    text-align: center;
    font-size: 1.4em
  }

  #section1 p {
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: 'open sans';
  }

  #section1 .border_small{
    width: 20%;
    height: 2px;
    background: #333;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    cursor: default;
    opacity: 70%;
  }

  #section2 .oli-mal {
    display: flex;
    justify-content: center;
    font-family: 'palatino linotype';
    font-size: 2.5em;
  }

  #section2 .photo img {
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  #section2 h3 {
    text-align: center;
    font-size: 1.4em
  }

  #section2 p {
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: 'open sans';
  }

  #section3 .ak-mal {
    display: flex;
    justify-content: center;
    font-family: 'palatino linotype';
    font-size: 2.5em;
  }

  #section3 .photo img {
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 15px;
  }

  #section3 h3 {
    text-align: center;
    font-size: 1.4em
  }

  #section3 p {
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: 'open sans';
  }

  #section3 .border_small{
    width: 20%;
    height: 2px;
    background: #333;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    cursor: default;
    opacity: 70%;
  }

  .scrollbtn {
    display: block;
    background-color: #3eac6a;
    border-radius: 10px;
    cursor: pointer;
    color: #333333;
    font-family: 'open sans';
    font-size: 0.9em;
    padding: 1em 0em;
    box-shadow: none;
    margin-top: 2em;
    width: 10%;
    text-align: center;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
  }

  .scrollbtn:hover {
    background-color: #f0ecda;
    border: 1px solid;
    border-color: #3eac6a;
  }


  #peekaboo{
      position:fixed;
      bottom:300px;
      right:-352px;
      background: #F0ecda;
      padding:25px;
      width:300px;
      height:300px;
      font-size:1.5em;
      border: solid #333;
      opacity: 80%;
  }
  #peekaboo p {
    text-align: center;
    font-family:'open sans';
  }
}
