body{
  background-color: #F0ecda;
  font-family: 'open sans',serif;
  overflow-x: hidden;
}

.semere-btn {
  background-color: #3EAC6A;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  color: #f0ecda;
  transition-duration: .5s;
  transition-timing-function: ease;
  border: solid 1px #3eac6a;
  text-align: center;
}

.semere-btn:hover {
  background-color: #f0ecda;
  color: #333333;
}

.scrollbtn {
    display: block;
    background-color:#3eac6a;
    border-radius:10px;
    cursor:pointer;
    color:#333333;
    font-family: 'open sans';
    font-size:0.9em;
    padding: 1em 0em;
    box-shadow: none;
    margin-top: 2em;
    width: 10%;
    text-align: center;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 50px;

  }

  .scrollbtn:hover {
    background-color: #f0ecda;
    border: 1px solid;
    border-color: #3eac6a;
  }

.border {
  height: 2px;
  background: #333;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  cursor: default;
  opacity: 70%;
}

.produkter-section, .blog-section, .event-section, .kontakt-section {
  width: 90%;
  margin: 50px 5%;
  text-align: center;
}

.slidep {
  border-radius: 15px;
}

h1 {
  font-family: "palatino linotype";
  text-align: center;
}

h2 {
  font-family: "palatino linotype";
  text-align: center;
  margin-bottom: 5px;
}

h3 {
  font-family: "palatino linotype";
  text-align: center;
}

.title-text {
  background-color: white;
  opacity: 80%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 0;
}

.values p {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.circle img {
  margin-left: 50%;
  position: relative;
  left: -75px;
}

.img1 {
  background-image: url(../img/brera_akryl.jpg);
}
.img2 {
  background-image: url(../img/kridt.jpg);
}
.img3 {
  background-image: url(../img/rembrandt_pro.jpg);
}
.img1, .img2, .img3 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;

}


.prev, .next {
  cursor: pointer;
  position: relative;
  width: auto;
  top: 50%;
  margin-top: -22px;
  color: #fff;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 1s;
  text-decoration: none;
}

.prev:hover, .next:hover {
  color: #3eac6a;
}

@media only screen and (max-width: 600px){

  /* NOTE: nav-bar begynder her */
  .display-none-mobile {
    display: none;
  }
  header{
  grid-area: header;
  background-color: #f0ecda;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0,.1);
  width: 100%;
  height: 100px;
  z-index: 5;

}

header ul {
  margin: 0;
  position: relative;
  top: 11px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f0ecda;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0,.1);

}

header ul a {
  display: block;
  padding: 20px;
  border-right: 1px solid #eaeef6;
  text-decoration: none;
  color: #333333;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #3eac6a;
}

header ul a:hover{
  background: #3eac6a;
  color: #f0ecda;
}

header .logo{
  float: left;
  width: 55px;
  height: 90px;
  padding-top: 5px;
  padding-left: 5px;


}

header .menu{
  clear: both;
  max-height: 0;
  transition:max-height .2s ease-out;
  z-index: 3;
}

header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;

}


header .menu-icon .nav-icon {
  background: #3eac6a;
  display: block;
  height: 2px;
  width: 20px;
  position: relative;
  transition:background .2s ease-out;
  margin-top: 22px;
}

header .menu-icon .nav-icon:before{
  background:#3eac6a;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition:all .2s ease-out;
  position:absolute;
  top: 5px;
}
header .menu-icon .nav-icon:after{
  background:#3eac6a;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition:all .2s ease-out;
  position:absolute;
  top: -5px;
}

header .menu-btn{
display: none;
}

header .menu-btn:checked~ .menu{
  max-height: 494px;
}

header .menu-btn:checked~ .menu-icon .nav-icon{
background:transparent;
}
header .menu-btn:checked~ .menu-icon .nav-icon:before{
transform: rotate(-45deg);
top:0;
}
header .menu-btn:checked~ .menu-icon .nav-icon:after{
transform: rotate(45deg);
top:0;
}
/* NOTE: nav-bar ender her */
.title-img {
  width: 100%;
  height: 322px;
  overflow: hidden;
  z-index: -1;
  position: relative;
  top: -22px;
}
.title-img h1 {
  position: relative;
  top: -190px;
}
.web-title-img {
  display: none;
}
.mobile-title-img {
  width:100%;
}
.om-abinicki {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.values {
  height: 400px;
}
.grid-circle {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.circle {
  height: 200px;
}
.kundebtn {
  width: 100%;
  height: 200px;
}
.kunde {
}

.kundeslide {
  position: relative;
  top: -400px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0%;
  font-size: 1.5em;
  padding-top: 40px;
  transition-duration: 1s;
  text-align: center;
}
#kundeslide:target {
  visibility: visible;
  opacity: 100%;
}
.tubeslide {
  position: relative;
  top: -800px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  opacity: 50%;
  font-size: 1.5em;
  padding-top: 40px;
  visibility: hidden;
}
.videnslide {
  position: relative;
  top: -1200px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  opacity: 50%;
  font-size: 1.5em;
  padding-top: 40px;
  visibility: hidden;
}
.kvalitetslide {
  position: relative;
  top: -1600px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  opacity: 50%;
  font-size: 1.5em;
  padding-top: 40px;
  visibility: hidden;
}
.grid-web-content p {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.values-border {
  margin-top: 70px;
}
.border {
  width: 90%;
}

/* NOTE: sections starter her */
.beskriv {
  margin-top: 25px;
  margin-bottom: 15px;
  text-align: center;
}


/* NOTE: kontakt starter her */

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2em;
}
.aebk{
  font-family: 'palatino linotype';
  color:#333333;
}
.h2aa {
  font-size: 1.2em;
}
.leftarea {
  margin-top: 10%;
font-family: 'Open Sans', sans-serif;
  text-align: left;
  font-size: .9em;
  color: #333333;
  margin-left: 2em;
}
.leftarea .fas {
  background: #F0ecda;
  color: #3eac6a;
}
.adrk{
  margin-top: 1.3em;
}
.odensek{
  padding-left: 1.4em;
}
.rightarea{
  margin-top: 10%;
font-family: 'Open Sans', sans-serif;
  color: #333333;
  margin-right: 2em;
  align-content: flex-end;
  text-align: center;
}

.adrk, .tlfk, .emailk, .mfk, .loerk, .soenk {
  padding-top: 1em;
}

/* NOTE: her begynder sliders */
.slidep, .slideb, .eventimg {
  width: 100%;
  height: 200px;
  border-radius: 15px;
}
.slideb {
  background-image: url(../img/blue-akvarel.jpg);
}
.blog-section-web {
  display: none;
}
.eventimg {
  background-image: url(../img/rembrandt-palette.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.scrollbtn {
  width: 20%;
}
}
@media only screen and (min-width: 601px) {
  .menu-btn {
    display: none;
  }
  header ul a {
    display: block;
    padding: 10px 5px;
    border-right: 1px solid #eaeef6;
    text-decoration: none;
    list-style-type: none;
    color: #333333;
    width: 12%;
    text-align: center;
    border: 1px solid #3eac6a;
    float: left;
    margin-left: 2%;
    font-family: 'palatino linotype';
    transition-duration: .5s;
    transition-timing-function: ease;
  }
  header nav ul li {
    display: inline;
    margin-left: 40px 0;
  }
  header ul {
    margin-top: 40px;
  }
  .logo {
    float: left;
    position: relative;
    top: -20px;
  }
  nav {
    height: 100px;
  }
  nav a {
    margin-top: 10px;
  }
  header ul a:hover{
    background: #3eac6a;
    color: #f0ecda;
  }
  header {
    border-bottom: 1px solid #3eac6a;
  }
  .border {
    width: 70%;
  }
  .values .kundeslide a {
    display: none;
  }
  .grid-circle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90;
    margin-left: 5%;
    margin-right: 5%;
    grid-column-gap: 10px;
    justify-content: center;
  }
  .grid-web-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90;
    margin-left: 5%;
    margin-right: 5%;
    grid-column-gap: 10px;
  }
  .circle {
    height: 200px;
    background-color: #ffffff;
    grid-row: 1;
    border-radius: 15px 15px 0 0;
  }
  .kundeslide, .tubeslide, .videnslide, .kvalitetslide {
    height: 250px;
    background-color: #ffffff;
    border-radius: 0px 0px 15px 15px;
  }
  .title-img {
    width: 100%;
    height: 400px;
}
.title-text {
  position: absolute;
  top: 310px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.om-abinicki {
  display: none;
}
.om-border {
  display: none;
}
.slidep, .slidee{
  height: 400px;
  width: 100%;
}
.img1, .img2, .img3 {
  height: 400px;
}
.eventimg {
  display: none;
}
.slidee {
  background-image: url(../img/rembradt-palette.jpg);
}
.blog-section {
  display: none;
  display: none;
  margin: 0;
  padding: 0;
}
.blog-web-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  grid-gap: 20px;
}
.blog-section-web, .values {
  margin-top: 50px;
  margin-bottom: 50px;
}
.blog-section-web h2 {
  margin-bottom: 20px;
  }
.blog1-img, .blog2-img, .blog3-img {
  height: 300px;
  border-radius: 15px;
}
.kontakt-section {
  display: none;
}
.produkter-section {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}
.event-section {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
.beskriv {
  margin: 30px 0;
}
.title-img {
  overflow: hidden;
  z-index: -1;
}
.title-img img {
  position: relative;
  width: 100%;
}
.mobile-title-img {
  display: none;
}
.slidee {
  border-radius: 15px;
  background-image: url(../img/rembrandt-palette.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog1-img, .blog2-img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;

}
.blog1-img {
background-image: url(../img/Golden_akryl.jpg);
}

.blog2-img {
background-image: url(../img/blue-akvarel.jpg);
}
.blog1-beskriv, .blog2-beskriv {
  text-align: center;
  width: 90%;
  margin: 100px 5%;
}

.blog1-beskriv p, .blog2-beskriv p {
  padding-bottom: 20px;
}
}
