body{
  background-color: #F0ecda;
  font-family: 'Spartan',serif;
}
@media only screen and (max-width: 600px){

  /* NOTE: nav-bar begynder her */
  .space {
    height: 900px;
  }
  header{
  grid-area: header;
  background-color: #f0ecda;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0,.1);
  width: 100%;
  height: 100px;
  z-index: 3;

}

header ul {
  margin: 0;
  position: relative;
  top: 11px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #f0ecda;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0,.1);

}

header ul a {
  display: block;
  padding: 20px;
  border-right: 1px solid #eaeef6;
  text-decoration: none;
  color: #333333;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #3eac6a;
}

header ul a:hover{
  background: #3eac6a;
  color: #f0ecda;
}

header .logo{
  float: left;
  width: 55px;
  height: 90px;
  padding-top: 5px;
  padding-left: 5px;


}

header .menu{
  clear: both;
  max-height: 0;
  transition:max-height .2s ease-out;
}

header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;

}


header .menu-icon .nav-icon {
  background: #3eac6a;
  display: block;
  height: 2px;
  width: 20px;
  position: relative;
  transition:background .2s ease-out;
  margin-top: 22px;
}

header .menu-icon .nav-icon:before{
  background:#3eac6a;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition:all .2s ease-out;
  position:absolute;
  top: 5px;
}
header .menu-icon .nav-icon:after{
  background:#3eac6a;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transition:all .2s ease-out;
  position:absolute;
  top: -5px;
}

header .menu-btn{
display: none;
}

header .menu-btn:checked~ .menu{
  max-height: 494px;
}

header .menu-btn:checked~ .menu-icon .nav-icon{
background:transparent;
}
header .menu-btn:checked~ .menu-icon .nav-icon:before{
transform: rotate(-45deg);
top:0;
}
header .menu-btn:checked~ .menu-icon .nav-icon:after{
transform: rotate(45deg);
top:0;
}
/* NOTE: nav-bar ender her */


}
